<tr>
  <td><%= railway_station.title %></td>
  <td><%= link_to t('common.show'), [:admin, railway_station], class: 'btn btn-link' %></td>
  <td><%= link_to t('common.edit'), edit_admin_railway_station_path(railway_station), class: 'btn btn-link' %></td>
  <td><%= link_to t('common.delete'), [:admin, railway_station] , method: :delete, data: { confirm: t('common.confirm') }, class: 'btn btn-link' %></td>
</tr>
