<div class="container">
  <div class="text-center">
    <h1><%= t('.title') %></h1>
  </div>

  <%= render 'form' %>
</div>

<nav>
  <ul class="pager">
    <%= link_to t('common.back'), admin_railway_stations_path %>
  </ul>
</nav>
