<p id="notice"><%= notice %></p>

<h1>Список вагонов</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @wagons %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить вагон', new_wagon_path %>
<%= link_to 'Главное меню', root_path %>
