<tr>
  <td><%= @user.name %></td>
  <td><%= link_to 'Показать', user_ticket_path(@user, ticket) %></td>
  <td><%= link_to 'Редактировать', edit_user_ticket_path(@user, ticket) %></td>
  <td><%= link_to 'Удалить', user_ticket_path(@user, ticket), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
