<tr>
  <td><%= ticket.user.name %></td>
  <td><%= link_to 'Показать', ticket_path(ticket) %></td>
  <td><%= link_to 'Редактировать', edit_ticket_path(ticket) %></td>
  <td><%= link_to 'Удалить', ticket_path(ticket), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
